---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/footer.astro';
import Navigation from '../../components/navigation.astro';
import Case from '../../components/cases.astro';
import Buttondisabled from '../../components/buttondisabled.astro';
import Button from '../../components/button.astro';


---

<Layout title="Freelance UX designer | Musa Baysan">
	<Navigation />

	<!-- the start of it all, get them recruiters and hiring managers hyped up yo! 🔥 -->
	<main
		class="relative flex flex-col md:flex-row justify-center px-8 py-0 md:py-8 w-full top-24 mb-8">
		<div
			class="grid grid-cols-1 md:grid-cols-1 flex-col-reverse px-5 md:flex-row max-w-6xl w-full">
			<div class="h-[600px]">
				
			</div>
		</div>
	</main>

	<!-- divider disguised as clients i've worked with in the past -->
	<div
		class="relative bg-background-100 dark:bg-dark-200 mt-32 flex flex-col justify-center pb-32 items-center self-center px-8 py-8 w-full">
		<div
			class="flex -mt-24 bg-background-100 dark:bg-dark-200 flex-col max-w-6xl w-full">
			<div
				class="w-full drop-shadow dark:drop-shadow-lg bg-background-100 dark:bg-dark-200">
				<p class="w-full font-smallt text-xxs text-secondary text-center m-2">
					formerly worked with
				</p>
				<div class="flex flex-row">
					<div class="grid grid-cols-2 lg:grid-cols-4 gap-6 w-full">
						<!-- client 1 -->
						<div class="w-full h-16 flex justify-center">
							
						</div>

						<!-- client 2 -->
						<div class="w-full h-16 flex justify-center">
							
						</div>

						<!-- client 3 -->
						<div class="w-full h-16 flex justify-center">
							
						</div>

						<!-- client 4 -->
						<div class="w-full h-16 flex justify-center">
							
						</div>
					</div>
				</div>
			</div>


			<div class="flex mt-16 flex-row w-full justify-center">
				<h2
					class="font-button text-xl uppercase text-primary dark:text-background">
					Highlighted cases
				</h2>
				<h2 class="font-button text-xl uppercase text-secondary">.</h2>
			</div>
			<div class="mx-auto px-4 md:px-0">
				<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
					<!-- case 1 -->
					<div
						class="p-4 flex flex-col items-center align-middle flex-wrap bg-background dark:bg-dark-100 rounded-lg">
						
						<div
							class="font-button text-l mb-2 text-center font-medium text-primary dark:text-background">
							<p>Strengthen guest loyalty with a Happy Italy app.</p>
						</div>
						<Buttondisabled title="Coming soon" />
					</div>

					<!-- case 2 -->
					<div
						class="p-4 flex flex-col items-center align-middle flex-wrap bg-background dark:bg-dark-100 rounded-lg">
						
						<div
							class="font-button text-l mb-2 text-center font-medium text-primary dark:text-background">
							<p>Harmonising 5 employee apps into 1 app</p>
						</div>
						<Buttondisabled title="Coming soon" />
					</div>
				</div>
				<div class="w-full flex justify-center mt-8">
					<Button
						link="#"
						title="All cases"
					/>
				</div>
			</div>
		</div>
	</div>
	<Footer />
</Layout>
