---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';
import Navigation from '../components/navigation.astro';
import Case from '../components/cases.astro';
import Buttondisabled from '../components/buttondisabled.astro';
import Button from '../components/button.astro';

import { Image } from 'astro:assets';

import Musa from '../assets/musa.png';
import MusaDark from '../assets/musa-dark.png';

import { Icon } from 'astro-icon';

import AdidasLight from '../assets/clientele/light/adi.svg';
import HappyLight from '../assets/clientele/light/happy.svg';
import HansLight from '../assets/clientele/light/hans.svg';
import IngLight from '../assets/clientele/light/ing.svg';
import AdidasDark from '../assets/clientele/dark/adi.svg';
import HappyDark from '../assets/clientele/dark/happy.svg';
import HansDark from '../assets/clientele/dark/hans.svg';
import IngDark from '../assets/clientele/dark/ing.svg';

import Case1 from '../assets/cases/case-happy.png';
import Case2 from '../assets/cases/adidas-sam.png';
import Case3 from '../assets/cases/opmaat.png';
import Case4 from '../assets/cases/barber.png';

---

<Layout title="Freelance UX designer | Musa Baysan">
	<Navigation />

	<!-- the start of it all, get them recruiters and hiring managers hyped up yo! 🔥 -->
	<main
		class="relative min-h-[80vh] md:min-h-[70vh] flex flex-col md:flex-row justify-center px-8 py-0 md:py-8 w-full top-24 mb-8">
		<div
			class="grid grid-cols-1 md:grid-cols-2 gap-6 flex-col-reverse px-5 md:flex-row max-w-6xl w-full">
			<div
				class="relative flex flex-col md:flex-row self-center flex-wrap w-full">
				<h1
					class="font-button text-xl font-bold leading-10 text-secondary tracking-wide">
					Product designer
				</h1>
				<p
					class="py-4 font-body font-medium text-primary dark:text-background text-m">
					Leveraging 6+ years of experience building User-friendly interfaces
					with research-backed designs. Let's team up for success!
				</p>
			</div>
			<div class="relative flex flex-col md:flex-row h-28 md:h-full flex-wrap w-full justify-center md:justify-center items-center">
				
				<Icon name="mouse" class="mouse hidden md:block pointer-events-none h-12 bottom-1/4 left-8 z-10 relative md:absolute md:animate-floating2"/>
				

				<Image
					src={Musa}
					alt="musa portrait"
					class="w-28 pointer-events-none md:w-48 absolute md:animate-floating opacity-0 dark:opacity-100"
				/>
				<Image
					src={MusaDark}
					alt="musa portrait"
					class="w-28 pointer-events-none md:w-48 absolute md:animate-floating opacity-100 dark:opacity-0"
				/>
			</div>
		</div>
	</main>

	<!-- divider disguised as clients i've worked with in the past -->
	<div
		class="relative bg-background-100 dark:bg-dark-200 mt-32 flex flex-col justify-center pb-32 items-center self-center px-8 py-8 w-full">
		<div
			class="flex -mt-24 bg-background-100 dark:bg-dark-200 flex-col max-w-6xl w-full">
			

			<div class="flex mt-16 flex-row w-full justify-center">
				<h2
					class="font-button text-xl uppercase text-primary dark:text-background">
					Highlighted cases
				</h2>
				<h2 class="font-button text-xl uppercase text-secondary">.</h2>
			</div>
			<div class="mx-auto px-4 md:px-0">
				<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
					<!-- case 1 -->
					<div
						class="p-4 flex flex-col items-center align-middle flex-wrap bg-background dark:bg-dark-100 rounded-lg">
						<Image
							src={Case1}
							alt="caseimg"
						/>
						<div
							class="font-button text-l mb-2 text-center font-medium text-primary dark:text-background">
							<p>Strengthen guest loyalty with a Happy Italy app.</p>
						</div>
						<Buttondisabled title="Coming soon" />
					</div>

					<!-- case 2 -->
					<div
						class="p-4 flex flex-col items-center align-middle flex-wrap bg-background dark:bg-dark-100 rounded-lg">
						<Image
							src={Case2}
							alt="caseimg"
						/>
						<div
							class="font-button text-l mb-2 text-center font-medium text-primary dark:text-background">
							<p>Harmonising 5 employee apps into 1 app</p>
						</div>
						<Buttondisabled title="Coming soon" />
					</div>
				</div>
				<div class="w-full flex justify-center mt-8">
					<Button
						link="#"
						title="All cases"
					/>
				</div>
			</div>
		</div>
	</div>
	<Footer />
</Layout>
