---
import { Image } from '@astrojs/image/components';

import Layout from '../layouts/Layout.astro';
import Navigation from '../components/navigation.astro';
import Case from '../components/cases.astro';

import Musa from '../../public/assets/musa.png';
import MusaDark from '../../public/assets/musa-dark.png'
import MusaMouse from '../../public/assets/indicate.svg'
import AdidasLight from '../../public/assets/clientele/adi.svg'
import HappyLight from '../../public/assets/clientele/HMG.svg'
import HansLight from '../../public/assets/clientele/HansAnders.svg'
import IngLight from '../../public/assets/clientele/ing.svg'
import AdidasDark from '../../public/assets/clientele/dark/adi.svg'
import HappyDark from '../../public/assets/clientele/dark/HMG.svg'
import HansDark from '../../public/assets/clientele/dark/HansAnders.svg'
import IngDark from '../../public/assets/clientele/dark/ing.svg'

import Buttondisabled from '../components/buttondisabled.astro';

import Case1 from '../../public/assets/cases/case-happy.png'
import Case2 from '../../public/assets/cases/adidas-sam.png'
import Case3 from '../../public/assets/cases/opmaat.png'
import Case4 from '../../public/assets/cases/barber.png'
---

<Layout title="Freelance UX designer | Musa Baysan">
    <Navigation />

    <!-- the start of it all, get them recruiters and hiring managers hyped up yo! 🔥 -->
    <main class="relative min-h-[80vh] md:min-h-[70vh] flex flex-col md:flex-row justify-center px-8 py-0 md:py-8 w-full top-24 mb-8">
        <div class="flex flex-col-reverse md:flex-row max-w-6xl w-full">
            <div class="relative flex flex-col md:flex-row self-center flex-wrap w-full md:w-1/2">
                <h3 class="font-button w-full tracking-wide font-light text-l text-primary dark:text-background">👋🏼 Hi, I am Musa Baysan</h3>
                <h1 class="font-title text-xl font-bold leading-10 text-secondary">Freelance UX designer, with passion for design and motion</h1>
                <p class="py-4 font-body font-medium text-primary dark:text-background text-m">I enjoy building beautifull user interfaces from solid research and validation If you need a communicative team-player, I'd love to hear from you!</p>
            </div>
            <div class="relative flex flex-col md:flex-row h-28 md:h-full flex-wrap w-full md:w-1/2 justify-center md:justify-center items-center">
                <img 
                    src= { MusaMouse } 
                    alt="" 
                    class="mouse hidden md:block pointer-events-none h-12 bottom-1/4 left-8 z-10 relative md:absolute md:animate-floating2"
                    />
                <Image 
                    src= { Musa } 
                    alt="musa portrait"
                    class="w-28 pointer-events-none md:w-48 absolute md:animate-floating opacity-0 dark:opacity-100"
                    />
                <Image 
                    src= { MusaDark } 
                    alt="musa portrait"
                    class="w-28 pointer-events-none md:w-48 absolute md:animate-floating opacity-100 dark:opacity-0"
                    />
            </div>
        </div>  
    </main>  

    <!-- divider disguised as clients i've worked with in the past -->
    <div class="relative bg-background-100 dark:bg-dark-200 mt-32 flex flex-col justify-center items-center self-center px-8 py-8 w-full">
        <div class="flex -mt-24 bg-background-100 dark:bg-dark-200 flex-col max-w-6xl w-full">
            <div class="w-full drop-shadow dark:drop-shadow-lg bg-background-100 dark:bg-dark-200">
                    <p class="w-full font-smallt text-xxs text-secondary text-center m-2">formerly worked with</p>
                    <div class="flex flex-row">

                        <!-- client 1 -->
                        <div class="w-1/4 h-16 flex justify-center">
                            <img
                                src= { AdidasLight } 
                                alt='adidas logo' 
                                class="w-24 hidden dark:block opacity-30 hover:opacity-100" 
                                />
                            <img
                                src= { AdidasDark } 
                                alt='adidas logo' 
                                class="w-24 dark:hidden block opacity-30 hover:opacity-100" 
                                />
                        </div>

                        <!-- client 2 -->
                        <div class="w-1/4 h-16 flex justify-center">
                            <img 
                                src= { HappyLight } 
                                alt='happy italy logo' 
                                class="w-24 opacity-30 hidden dark:block hover:opacity-100"
                                />
                            <img 
                                src= { HappyDark } 
                                alt='happy italy logo' 
                                class="w-24 dark:hidden block opacity-30 hover:opacity-100"
                                />
                        </div>

                        <!-- client 3 -->
                        <div class="w-1/4 h-16 flex justify-center">
                            <img 
                                src= { HansLight } 
                                alt='hans anders logo' 
                                class="w-24 opacity-30 hidden dark:block hover:opacity-100"
                                />
                            <img
                                src= { HansDark } 
                                alt='hans anders logo' 
                                class="w-24 dark:hidden block opacity-30 hover:opacity-100" 
                                />
                        </div>

                        <!-- client 4 -->
                        <div class="w-1/4 h-16 flex justify-center">
                            <img
                                src= { IngLight }
                                alt='ing logo' 
                                class="w-24 opacity-30 hidden dark:block hover:opacity-100" 
                                />
                            <img
                                src= { IngDark }
                                alt= 'ing logo' 
                                class="w-24 dark:hidden block opacity-30 hover:opacity-100"
                            />
                        </div>
                </div>
            </div>
            <div class="flex flex-row w-full">
                <h2 class="font-button text-xl uppercase text-primary dark:text-background">My work</h2>
                <h2 class="font-button text-xl uppercase text-secondary">.</h2>
            </div>
                <div class="w-full flex flex-row flex-wrap">
                    
                    <!-- case 1 -->
                    <div class='md:w-1/2 w-full p-4 flex flex-col items-center align-middle flex-wrap'>
                        <Image 
                            src= { Case1 }
                            alt='caseimg'
                            format='avif'
                        />
                        <div class='font-button text-l mb-2 text-center font-medium text-primary dark:text-background'>
                            <p>Strengthen guest loyalty with a Happy Italy app.</p>
                        </div>
                        <Buttondisabled 
                            title="Coming soon"
                            />
                    </div>

                    <!-- case 2 -->
                    <div class='md:w-1/2 w-full p-4 flex flex-col items-center align-middle flex-wrap'>
                        <Image 
                            src= { Case2 }
                            alt='caseimg'
                        />
                        <div class='font-button text-l mb-2 text-center font-medium text-primary dark:text-background'>
                            <p>Harmonising 5 employee apps into 1 app</p>
                        </div>
                        <Buttondisabled 
                            title="Coming soon"
                            />
                    </div>

                    <!-- case 3 -->
                    <div class='md:w-1/2 w-full p-4 flex flex-col items-center align-middle flex-wrap'>
                        <Image 
                            src= { Case3 }
                            alt='caseimg'
                        />
                        <div class='font-button text-l mb-2 text-center font-medium text-primary dark:text-background'>
                            <p>Telling the story of a skilled custom tailorer</p>
                        </div>
                        <Buttondisabled 
                            title="Coming soon"
                            />
                    </div>

                    <!-- case 4 -->
                    <div class='md:w-1/2 w-full p-4 flex flex-col items-center align-middle flex-wrap'>
                        <Image 
                            src= { Case4 }
                            alt='caseimg'
                        />
                        <div class='font-button text-l mb-2 text-center font-medium text-primary dark:text-background'>
                            <p>Barber appointment system and website facelift during the corona pandemic.</p>
                        </div>
                        <Buttondisabled 
                            title="Coming soon"
                            />
                    </div>
                </div>             
            
        </div>    
    </div>
</Layout>
