---
import Layout from '../layouts/Layout.astro';
import Button from '../components/button.astro';
import Navigation from '../components/navigation.astro';
import ThemeToggle from '../components/ThemeToggleButton';

import { Icon } from 'astro-icon';

---

<Layout title="Freelance UX designer | Musa Baysan">
	<div class="opacity-0">
		<Navigation />
	</div>
	<main class="relative flex flex-col z-10 justify-center items-center text-center h-screen px-8">
		<div class="fixed top-8">
			<ThemeToggle client:load />
		</div>
		<div
			class="relative flex flex-col items-center text-center p-8 w-full max-w-6xl space-y-4 outline outline-1 outline-secondary outline-offset-0.5">
			<div
				class="absolute w-4 h-4 outline outline-1 bg-background dark:bg-dark-100 outline-secondary -left-2 -top-2">
			</div>
			<div
				class="absolute w-4 h-4 outline outline-1 bg-background dark:bg-dark-100 outline-secondary -right-2 top-36">
			</div>
			<div
				class="absolute w-4 h-4 outline outline-1 bg-background dark:bg-dark-100 outline-secondary -top-6">
			</div>
			<div
				class="absolute w-4 h-4 outline outline-1 bg-background dark:bg-dark-100 outline-secondary -right-2 -top-6">
			</div>
			<div
				class="absolute w-4 h-4 outline outline-1 bg-background dark:bg-dark-100 outline-secondary -left-2 -bottom-2">
			</div>
			<div
				class="absolute w-4 h-4 outline outline-1 bg-background dark:bg-dark-100 outline-secondary -left-2 top-36">
			</div>
			<div
				class="absolute w-4 h-4 outline outline-1 bg-background dark:bg-dark-100 outline-secondary -bottom-2">
			</div>
			<div
				class="absolute w-4 h-4 outline outline-1 bg-background dark:bg-dark-100 outline-secondary -right-2 -bottom-2">
			</div>
			<div>
				<Icon name="logo" class="relative w-64 text-primary dark:text-background"/>
				<h1 class="font-button text-l font-bold leading-10 text-secondary tracking-wide">
					UX designer
				</h1>
			</div>
			<div>
				<p class="font-body text-lg dark:text-background">
					The portfolio is being rebuilt from scratch with captivating case studies, beautiful features, and a high-performing website.
					<br /><b>Q4 2025</b>
				</p>
			</div>
			<Button
				
				title="visit previous portfolio"
				link="https://mbsn.webflow.io/"
			/>
		</div>
	</main>
</Layout>
