---
import arrow from './../assets/arrow-dark.svg'
import arrowlight from './../assets/arrow.svg'

export interface Props {
	title: string;
    link: string;
}

const { title } = Astro.props;
const { link } = Astro.props;
---
<a href={ link }>
<button class='flex z-10 justify-center items-center space-x-2 p-2 border-solid border-3 text-background bg-primary border-primary rounded-md h-fit transition-width duration-350 ease-in-out group hover:bg-primary-100 dark:hover:bg-grey-100 hover:border-primary-100 dark:hover:border-grey-100 dark:text-primary dark:bg-background dark:border-background'>
    <div class="font-button uppercase tracking-widest text-lg whitespace-nowrap">{ title }</div>
    <img class='transition-width duration-500 ease-in-out w-0 overflow-hidden group-hover:w-4 dark:hidden' src={ arrow } alt='arrow pointing right' />
    <img class='hidden transition-width duration-500 ease-in-out w-0 overflow-hidden group-hover:w-4 dark:hidden' src={ arrow } alt='arrow pointing right' />
</button>
</a>