---
import Musa from '../assets/musa.png';
import MusaDark from '../assets/musa-dark.png';
---

<footer class="w-full flex items-center justify-center max-h-max px-8 py-0 bg-background dark:bg-[#000000]">
    <div class="w-full max-w-6xl flex items-center justify-center align-middle">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 rounded-lg w-full max-w-6xl flex-col sm:flex-row z-30 -mt-16 bg-background drop-shadow dark:drop-shadow-lg dark:bg-dark-100 justify-center align-middle items-center mb-8">
            <div class="pl-16 pt-16 pb-16 flex flex-col my-8 md:my-8">
                <h2 class="font-button text-xl uppercase font-bold leading-10 text-secondary tracking-wide mb-8">Let's get started ☕️</h1>
                <p class="text-l text-primary dark:text-background font-bold font-button">Musa Baysan</p>
                <p class="text-m text-primary dark:text-background font-medium font-body mb-4">UX designer</p>
                <p class="text-m text-primary dark:text-background font-medium font-body">+31 6 52 72 69 67</p>
                <p class="text-m text-primary dark:text-background font-medium font-body">hello@musabaysan.nl</p>
                <p class="text-m text-primary dark:text-background font-medium font-body">LinkedIN</p>
            </div>
            <div class="rounded-lg sm:pl-2 sm:pl-o flex flex-col justify-center align-middle items-center self-stretch	bg-cover bg-center	 bg-no-repeat bg-musa-casual">
                
        <!-- 
            <img
                src={Musa}
                alt="musa portrait"
                class="w-full pointer-events-none opacity-0 hidden dark:block dark:opacity-100"
            />
            <img
                src={MusaDark}
                alt="musa portrait"
                class="w-full pointer-events-none opacity-100 block dark:hidden dark:opacity-0"
            />
        -->
            </div>
        </div>

    </div>
    
</footer>