---

---

<div class="fixed z-0 flex justify-center inset-0 items-start text-center px-8 pointer-events-none">
    <div class='flex relative justify-center w-full max-w-6xl items-start content-start'>
      <div class="absolute h-screen w-5 border-dashed border-x border-y-0 border-grey-100 -ml-5 left-0"></div>
      <div class="absolute hidden h-screen w-5 border-dashed border-x border-y-0 border-grey-100 -ml-4 left-1/4 lg:block"></div>
      <div class="absolute h-screen w-5 border-dashed border-x border-y-0 border-grey-100"></div>
      <div class="absolute hidden h-screen w-5 border-dashed border-x border-y-0 border-grey-100 -mr-4 right-1/4 lg:block"></div>
      <div class="absolute h-screen w-5 border-dashed border-x border-y-0 border-grey-100 -mr-5 right-0"></div>
    </div>
  </div>