---
import Logo from './../assets/logo.svg';
import Button from './button.astro';
import Mobilenav from './Mobilenav'
---



<nav class='fixed top-4 inset-x-0 flex flex-row justify-center h-20 px-8 z-50'>
    <div class='flex flex-col justify-center w-full max-w-6xl border border-solid border-primary bg-background'>
      <div class='flex flex-row w-full max-w-6xl justify-between items-center'>
        <img class='h-9 ml-5' src={ Logo } alt='logo' />
          <div class='hidden md:block self-center'>
            <ul class='flex flex-row items-center list-none'>
                  <li class='flex my-1 mx-4 uppercase text-base tracking-wider font-medium text-primary font-button'>
                    <a href='#'>Home</a>
                </li>
                  <li class='flex my-1 mx-4 uppercase text-base tracking-wider font-medium text-primary font-button'>
                    <a href='#'>Cases</a>
                </li>
                  <li class='flex my-1 mx-4 uppercase text-base tracking-wider font-medium text-primary font-button'>
                    <a href='#'>About</a>
                </li>
                  <li class='flex my-1 mx-4 uppercase text-base tracking-wider font-medium text-primary font-button'>
                    <a href='#'>Contact</a>
                </li>
                  <li class='flex my-1 mx-4 uppercase text-base tracking-wider font-medium text-primary font-button'>
                    <Button
                      link="#" 
                      title="Start project" />
                </li>
            </ul>    
          </div>
          
          <div class='block mr-5 md:hidden'>
            <Mobilenav client:visible/>
          </div>
      </div>
    </div>
  </nav>
  