@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Teko';
  src: url('../src/assets/fonts/teko/teko-semibold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta';
  src: url('.././src/assets/fonts/averta/averta-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('.././src/assets/fonts/inconsolata/inconsolata-bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
