---
import { Player } from '@lottiefiles/react-lottie-player';
import Hamburger from './hamburger.json';
import Spook from './spook.json'
---


<div class="block w-8 h-8 m-5">
  <Player client:visible
      src={ Hamburger }
      autoplay={false}
      loop={false}
      keepLastFrame={true}
      style = 
      {
        { 
          width:'32px',
          height:'32px', 
        }
      }
  />
</div>